<h1>Companies</h1>

<table border=1>
  <tr>
    <th width="300px" >Name</th><th>Country</th><th></th>
  </tr>

  <% @companies.each do |company| %>
    <tr>
      <td> <%= company.name %> </td>
      <td> <%= company.country %> </td>
      <td> <%= link_to "Show", "companies/#{company.id}" %> </td>
    </tr>
  <% end %>
</table>