<h1> <%= @company.name %> </h1>
<ul>
  <li>Start date: <%= @company.start_date %> </li>
  <li>Country: <%= @company.country %> </li>
  <li>Games:
    <%= @games.map{ |game| game.name }.join(", ") %>.
  </li>
</ul>